## First: Review unstructured JSON data and diagram a new structured relational data model

### 1.1 Load the packages

In [126]:
import json
import pandas as pd
from ast import literal_eval

### 1.2 Read the data

In [147]:
import pandas as pd

# Function to read a JSON file into a DataFrame
def read_json_to_df(filepath):
    try:
        df = pd.read_json(filepath, lines=True)
        return df
    except ValueError as e:
        print(f"Error reading JSON from {filepath}: {e}")
        return pd.DataFrame()

# Use the function to read each JSON file
receipts_df = read_json_to_df('/Users/may/Desktop/Fetch/receipts.json')
brands_df = read_json_to_df('/Users/may/Desktop/Fetch/brands.json')
users_df = read_json_to_df('/Users/may/Desktop/Fetch/users.json')

### 1.3 Analyze the data structure

In [118]:
# print the data types
print("Receipts Data Types:\n", receipts_df.dtypes)
print("\nBrands Data Types:\n", brands_df.dtypes)
print("\nUsers Data Types:\n", users_df.dtypes)

# To check if there's any null in the entire DataFrame
print("\nNull in the entire Receipts DataFrame:")
print(receipts_df.isnull().sum())

print("\nNull in the entire Brands DataFrame:")
print(brands_df.isnull().sum())

print("\nNull in the entire Users DataFrame:")
print(users_df.isnull().sum())

Receipts Data Types:
 _id                         object
bonusPointsEarned          float64
bonusPointsEarnedReason     object
createDate                  object
dateScanned                 object
finishedDate                object
modifyDate                  object
pointsAwardedDate           object
pointsEarned               float64
purchaseDate                object
purchasedItemCount         float64
rewardsReceiptItemList      object
rewardsReceiptStatus        object
totalSpent                 float64
userId                      object
dtype: object

Brands Data Types:
 _id              object
barcode           int64
category         object
categoryCode     object
cpg              object
name             object
topBrand        float64
brandCode        object
dtype: object

Users Data Types:
 _id             object
active            bool
createdDate     object
lastLogin       object
role            object
signUpSource    object
state           object
dtype: object

Null in the entire Receipts DataFrame:
_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

Null in the entire Brands DataFrame:
_id               0
barcode           0
category        155
categoryCode    650
cpg               0
name              0
topBrand        612
brandCode       234
dtype: int64

Null in the entire Users DataFrame:
_id              0
active           0
createdDate      0
lastLogin        0
role             0
signUpSource    48
state           56
dtype: int64

In [96]:
brands_df.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [98]:
users_df.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [97]:
receipts_df.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

From checking the structure of receipts table, we found that the rewardsReceiptItemList column contains nested information. To normalize the information, we used explode function.

In [148]:
# Explode the 'rewardsReceiptItemList' so each item becomes a row, preserving the link to the receipt's '_id'
receipts_df = receipts_df.explode('rewardsReceiptItemList')
receipts_df.reset_index(inplace=True)


receipts_df = receipts_df.fillna({'rewardsReceiptItemList':'{}'})
receipts_df['rewardsReceiptItemList'] = receipts_df['rewardsReceiptItemList'].apply(lambda x:str(x))
receipts_df['rewardsReceiptItemList'] = receipts_df['rewardsReceiptItemList'].apply(literal_eval)

# Normalize the exploded items.
receipts_norm = pd.json_normalize(receipts_df['rewardsReceiptItemList'],errors='ignore',record_prefix='rewardsReceiptItemList')\
.add_prefix('rewardsReceiptItemList.')

receipts_df = pd.merge(receipts_df, receipts_norm, left_index=True, right_index=True, how='outer')

In [149]:
receipts_df.head()

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,rewardsReceiptItemList.itemNumber,rewardsReceiptItemList.originalMetaBriteQuantityPurchased,rewardsReceiptItemList.pointsEarned,rewardsReceiptItemList.targetPrice,rewardsReceiptItemList.competitiveProduct,rewardsReceiptItemList.originalFinalPrice,rewardsReceiptItemList.originalMetaBriteItemPrice,rewardsReceiptItemList.deleted,rewardsReceiptItemList.priceAfterCoupon,rewardsReceiptItemList.metabriteCampaignId
0,0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
print("Receipts Data Types:\n", receipts_df.dtypes)

Receipts Data Types:
 index                                                          int64
_id                                                           object
bonusPointsEarned                                            float64
bonusPointsEarnedReason                                       object
createDate                                                    object
dateScanned                                                   object
finishedDate                                                  object
modifyDate                                                    object
pointsAwardedDate                                             object
pointsEarned                                                 float64
purchaseDate                                                  object
purchasedItemCount                                           float64
rewardsReceiptItemList                                        object
rewardsReceiptStatus                                          object
totalSpent                                                   float64
userId                                                        object
rewardsReceiptItemList.barcode                                object
rewardsReceiptItemList.description                            object
rewardsReceiptItemList.finalPrice                             object
rewardsReceiptItemList.itemPrice                              object
rewardsReceiptItemList.needsFetchReview                       object
rewardsReceiptItemList.partnerItemId                          object
rewardsReceiptItemList.preventTargetGapPoints                 object
rewardsReceiptItemList.quantityPurchased                     float64
rewardsReceiptItemList.userFlaggedBarcode                     object
rewardsReceiptItemList.userFlaggedNewItem                     object
rewardsReceiptItemList.userFlaggedPrice                       object
rewardsReceiptItemList.userFlaggedQuantity                   float64
rewardsReceiptItemList.needsFetchReviewReason                 object
rewardsReceiptItemList.pointsNotAwardedReason                 object
rewardsReceiptItemList.pointsPayerId                          object
rewardsReceiptItemList.rewardsGroup                           object
rewardsReceiptItemList.rewardsProductPartnerId                object
rewardsReceiptItemList.userFlaggedDescription                 object
rewardsReceiptItemList.originalMetaBriteBarcode               object
rewardsReceiptItemList.originalMetaBriteDescription           object
rewardsReceiptItemList.brandCode                              object
rewardsReceiptItemList.competitorRewardsGroup                 object
rewardsReceiptItemList.discountedItemPrice                    object
rewardsReceiptItemList.originalReceiptItemText                object
rewardsReceiptItemList.itemNumber                             object
rewardsReceiptItemList.originalMetaBriteQuantityPurchased    float64
rewardsReceiptItemList.pointsEarned                           object
rewardsReceiptItemList.targetPrice                            object
rewardsReceiptItemList.competitiveProduct                     object
rewardsReceiptItemList.originalFinalPrice                     object
rewardsReceiptItemList.originalMetaBriteItemPrice             object
rewardsReceiptItemList.deleted                                object
rewardsReceiptItemList.priceAfterCoupon                       object
rewardsReceiptItemList.metabriteCampaignId                    object
dtype: object

We have completed the examination of the JSON file structures. Based on the insights gathered, a relational data model has been developed to better organize the data. The Entity-Relationship (ER) diagram, which outlines this new model, is available in the file named "er_diagram.png".

## Second: Write a query that directly answers a predetermined question from a business stakeholder

What are the top 5 brands by receipts scanned for most recent month?

SELECT b.name, COUNT(DISTINCT r.receipt_id) AS receipt_count  
FROM Receipts r  
JOIN RewardsItems ri ON r.receipt_id = ri.receipt_id  
JOIN Brands AS b ON ri.brand_id = b.brand_id  
WHERE r.dateScanned BETWEEN 'start_of_most_recent_month' AND 'end_of_most_recent_month'  
GROUP BY b.name  
ORDER BY receipt_count DESC  
LIMIT 5;

## Third: Evaluate Data Quality Issues in the Data Provided
### 3.1 Duplicate Primary Key Check

In [120]:
# Users
# Convert dictionary columns to string
for col in users_df.columns:
    if users_df[col].apply(lambda x: isinstance(x, dict)).any():
        users_df[col] = users_df[col].astype(str)

users_duplicates = users_df.duplicated()
print("\nNumber of duplicate rows in users table:")
print(users_duplicates.sum())


# Brands
for col in brands_df.columns:
    if brands_df[col].apply(lambda x: isinstance(x, dict)).any():
        brands_df[col] = brands_df[col].astype(str)

brands_duplicates = brands_df.duplicated()
print("\nNumber of duplicate rows in brands table:")
print(brands_duplicates.sum())

# Receipts
for col in receipts_df.columns:
    if receipts_df[col].apply(lambda x: isinstance(x, dict)).any():
        receipts_df[col] = receipts_df[col].astype(str)
    if receipts_df[col].apply(lambda x: isinstance(x, list)).any():
        receipts_df[col] = receipts_df[col].apply(lambda x: str(x) if isinstance(x, list) else x)

# Check for duplicates again
receipts_duplicates = receipts_df.duplicated()
print("\nNumber of duplicate rows in receipts table:")
print(receipts_duplicates.sum())

Number of duplicate rows in users table:
283

Number of duplicate rows in brands table:
0

Number of duplicate rows in receipts table:
0

### 3.2 Foreign Key Mapping Check

In [158]:
# Convert columns to sets
set_column_a = set(receipts_df['rewardsReceiptItemList.brandCode'])
set_column_b = set(brands_df['brandCode'])

# Compute intersection of sets
difference_set = set_column_a.difference(set_column_b)
count = len(difference_set)
print("Number of brandcode in receipts table but not in brands table:", count)

Number of brandcode in receipts table but not in brands table: 186

### 3.3 Conclusion
1. Having duplicate rows in the users table results in unnecessary consumption of storage space.
2. Storing the brand code in the receipts table instead of the brand table leads to data redundancy and potential inconsistencies.

## Fourth: Communicate with Stakeholders

**Subject: Findings and Suggestions from Exploratory Analysis on Fetch Rewards Data**

Hello Lindsey,

I hope this message finds you well. I have recently completed an exploratory analysis of the Fetch Rewards data, focusing on the receipts, users, and brands datasets. Through this analysis, I have identified several areas where we could enhance our data analysis efficiency and accuracy. I would like to share these findings with you and discuss potential improvements.

1. **Duplicate User Entries**: I noticed multiple records for the same users, all sharing identical last login and creation times. This redundancy could be impacting our data quality. I'm interested in understanding our current data input process to explore solutions that prevent such duplications.

2. **Brand Code Discrepancies**: Many receipts reference brand codes that are not present in our brands dataset. This gap could potentially skew our analysis results. I am keen to learn how we currently populate the brands table and would like to propose implementing a method to periodically update this dataset with new brand information automatically.

3. **Category Code Redundancy**: The category code in the brands dataset appears to duplicate information found in the category column. To optimize our storage use and data processing, I suggest we consider removing one of these columns. However, I want to ensure we fully understand any implications this may have on product implementation before making such a change.

I believe addressing these points will significantly improve our data handling and analysis capabilities. Could we schedule a meeting to discuss these observations in more detail? Please let me know a time that works best for you, and I will make the necessary arrangements.

Looking forward to your feedback and a productive discussion.

Best regards,

May